.container {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@media (max-width: 991px) {
  .container {
    padding: 0 5vw;
  }
}

.title {
  color: #ffb100;
  letter-spacing: 2.25px;
  text-align: center;
  align-self: center;
  font: 3.3em Oswald, sans-serif;
  margin-top: 3vh;
}

@media (max-width: 991px) {
  .title {
    max-width: 100%;
    font-size: 2em;
  }
}

.rules {
  color: #ffffff;
  letter-spacing: 1.1px;
  align-self: start;
  margin-top: 2vh;
  font: 1.5em Lohit Bengali, sans-serif;
}

@media (max-width: 991px) {
  .rules {
    max-width: 100%;
    margin-top: 40px;
    font-size: 1.2em;
  }
}